body {
    background-color: rgb(146, 174, 185);
}

@media (max-width: 600px) {
    body {
        background-color: rgb(160, 216, 160);
    }
}

@media (max-width: 400px){
    body{
        background-color: rgb(221, 255, 143);
    }
}